.principal{
    border: 2px black;
    background-color: lightyellow;
    margin: auto;
}
.encabezado{
    color: black;
    display: flex;
    justify-content: space-between;
}
.encabezado ul {
    display: flex;
}
.encabezado li{
    display: inherit;
}
.encabezado a {
    color: black;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}
body {
    background-color: mintcream;
    margin: auto;
}